body {
  font-family: Arial, sans-serif;
  background-color: #a0a0a0;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin-bottom: 20px;
}

input[type='radio'] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.options-menu {
  background-color: rgb(215, 215, 215);
  margin-inline: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* label {
  color: #9d9d9d;
  display: inline-flex;
  align-items: center;
} */

label {
  content: '';
  display: inline-flex;
  padding: 1rem;
  background: #8f8f8f;
  box-shadow: .15em .15em #7b7b7b;
  color: #000000;
  border-radius: 10%;
  transition: border ease-in 150ms, box-shadow ease-in 150ms;
}

input[type='radio']:checked + label {
  background: rgb(38, 155, 197);
  box-shadow: .15em .15em rgba(83, 122, 153, 0.75);
}

input[type='radio']:focus + label {
  color: #000000;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.playerChoice {
  display: none;
}

#chessBoardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#chessBoard {
  width: 400px;
  height: 400px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.square {
  width: 50px;
  height: 50px;
}

.white {
  background-color: rgb(231, 231, 231);
}

.lightgreen {
  background-color: rgb(106, 189, 106);
}

svg {
  width: 40px;
  height: 40px;
  margin: 5px;
}

#historyMoves {
  display: none;
  background-color: rgb(215, 215, 215);
  margin-inline: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-height: 400px;
}

#information {
  display: none;
  flex-direction: column;
  background-color: rgb(215, 215, 215);
  margin-inline: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-height: 400px;
}

.piece {
  pointer-events: none;
}