body {
  font-family: Arial, sans-serif;
  background-color: #a0a0a0;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

input[type='radio'] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.options-menu {
  background-color: rgb(215, 215, 215);
  margin-inline: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  content: '';
  display: flex;
  align-items: center;
  background: #8f8f8f;
  box-shadow: .15em .15em #7b7b7b;
  color: #000000;
  border-radius: 10%;
  transition: border ease-in 150ms, box-shadow ease-in 150ms;
}

input[type='radio']:checked + label {
  background: rgb(38, 155, 197);
  box-shadow: .15em .15em rgba(83, 122, 153, 0.75);
}

input[type='radio']:focus + label {
  color: #000000;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.playerChoice {
  display: none;
}

#chessBoardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#chessBoard {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

i {
  height: auto;
}

/* Really small devices */
@media (max-width: 300px) {
  #chessBoard {
    width: 280px;
    height: 280px;
  }
  .square {
    width: calc(280px/8);
    height: calc(280px/8);
  }
  svg {
    width: calc(260px/8);
    height: calc(260px/8);
    margin: calc(20px/16);
  }
  label {
    padding: calc(150px/16);
  }
}

/* Small devices (phones) */
@media (max-width: 599px) {
  #chessBoard {
    width: 300px;
    height: 300px;
  }
  .square {
    width: calc(300px/8);
    height: calc(300px/8);
  }
  svg {
    width: calc(280px/8);
    height: calc(280px/8);
    margin: calc(20px/16);
  }
  label {
    padding-block: calc(60px/16);
    padding-inline: calc(40px/16);
  }
}

/* Medium devices (tablets) */
@media (min-width: 600px) and (max-width: 899px) {
  #chessBoard {
    width: 400px;
    height: 400px;
  }
  .square {
    width: calc(400px/8);
    height: calc(400px/8);
  }
  svg {
    width: calc(370px/8);
    height: calc(370px/8);
    margin: calc(30px/16);
  }
  label {
    padding-block: calc(200px/16);
    padding-inline: calc(250px/16);
  }
}

/* Large devices (desktops) */
@media (min-width: 900px) {
  #chessBoard {
    width: 500px;
    height: 500px;
  }
  .square {
    width: calc(500px/8);
    height: calc(500px/8);
  }
  svg {
    width: calc(460px/8);
    height: calc(460px/8);
    margin: calc(40px/16);
  }
  label {
    padding-block: calc(250px/16);
    padding-inline: calc(300px/16);
  }
}


.white {
  background-color: rgb(231, 231, 231);
}

.lightgreen {
  background-color: rgb(106, 189, 106);
}

#historyMoves {
  display: none;
  background-color: rgb(215, 215, 215);
  margin-inline: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-height: 400px;
}

#information {
  display: none;
  flex-direction: column;
  background-color: rgb(215, 215, 215);
  margin-inline: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-height: 400px;
}

.piece {
  pointer-events: none;
}